<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jd.viratpandey</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Source+Sans+Pro&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>

<body>
    <div class="chc">

        <div class="container1">
            <div class="right-side">
                <a href=""><img src="./assets/logo.png" alt=""></a>
        
            </div>
            <i id="ham" class="fas hm1 fa-bars"></i>
            <i id="ham1" class="fas hm1 fa-times"></i>
            <div id="menu" class="left-side">
                <ul>
                    <li><a href="/"> <i class="fas b2 fa-home"></i>Home</a></li>
                    <li><a href="/product"><i class="fab b2 fa-product-hunt"></i>Product</a></li>
                    <li><a href="//blog"><i class="fab b2 fa-blogger"></i>Blog</a></li>
                    <li><a href="/about"><i class="fas b2 fa-user-tie"></i>About</a></li>
                    <li><a href="/contact"><i class="fas b2 fa-envelope"></i>Contact Us</a></li>
                </ul>
        
            </div>
        </div>
        
        <div class="container">
            <div class="col1">
                <div class="side-bar">
                    <img src="./assets/nwdn_file_temp_1616399842143.jpg" alt="Admin">
                    <h1>Virat Pandey</h1>
                    <p> As Full Stack web developer with solid understanding of front - end technologies, <span>MVC frameworks, </span>  Restful web services and Data Base designing. Strong knowledge in MERN/MEAN Stack with vast experience in building Web Applications, <span> used React. js/AngularJS for client side, Node.</span> </p>
    
                </div>
            </div>
            <div class="col2">
                <button  id="btn1"> <i class="fas fa-code"></i>Mern Stack</button>
                <button id="btn2"><i class="fas fa-search-dollar"></i>Digital Marketing</button>
                <button id="btn3"><i class="fas fa-suitcase"></i>UI & UX</button>
            </div>
            <div class="col3">
                <div id="w">
                    <div class="mernimg">
                        <img class="img" src="./assets/tcp (3).jpg" alt="">
                    </div>
                    <h1>MERN stands for <span> MongoDB, Express, React, Node,</span> after the four key technologies that make up the stack.</h1>
                    <p>MERN stands for MongoDB, Express, React, Node, after the four key technologies that make up the stack.</p>
                    <h3><span>React.js Front End</span>
                    </h3>
                    <p>The top tier of the MERN stack is React.js, the declarative JavaScript framework for creating dynamic client-side applications in HTML. React lets you build up complex interfaces through simple Components, connect them to data on your backend server, and render them as HTML.
    
                        React’s strong suit is handling stateful, data-driven interfaces with minimal code and minimal pain, and it has all the bells and whistles you’d expect from a modern web framework: great support for forms, error handling, events, lists, and more.</p>
                        <h3> <span>Express.js and Node.js Server Tier</span></h3>
                        <p>The next level down is the Express.js server-side framework, running inside a Node.js server. Express.js bills itself as a “fast, unopinionated, minimalist web framework for Node.js,” and that is indeed exactly what it is. Express.js has powerful models for URL routing (matching an incoming URL with a server function), and handling HTTP requests and responses.</p>
                        <h3><span>MongoDB Database Tier</span></h3>
                        <p>If your application stores any data (user profiles, content, comments, uploads, events, etc.), then you’re going to want a database that’s just as easy to work with as React, Express, and Node.
    
                            That’s where MongoDB comes in: JSON documents created in your React.js front end can be sent to the Express.js server, where they can be processed and (assuming they’re valid) stored directly in MongoDB for later retrieval. Again, if you’re building in the cloud, you’ll want to look at Atlas. If you’re looking to set up your own MERN stack, read on!</p>
                            <h3><span>Is MERN a full-stack solution?</span></h3>
                            <p>Yes, MERN is a full-stack, following the traditional 3-tier architectural pattern, including the front-end display tier (React.js), application tier (Express.js and Node.js), and database tier (MongoDB).s</p>
                            <h3><span>Why choose the MERN stack?</span></h3>
                            <p>Let’s start with MongoDB, the document database at the root of the MERN stack. MongoDB was designed to store JSON data natively (it technically uses a binary version of JSON called BSON), and everything from its command line interface to its query language (MQL, or MongoDB Query Language) is built on JSON and JavaScript.
    
                                MongoDB works extremely well with Node.js, and makes storing, manipulating, and representing JSON data at every tier of your application incredibly easy. For cloud-native applications, MongoDB Atlas makes it even easier, by giving you an auto-scaling MongoDB cluster on the cloud provider of your choice, as easy as a few button clicks.
                                
                                Express.js (running on Node.js) and React.js make the JavaScript/JSON application MERN full stack, well, full. Express.js is a server-side application framework that wraps HTTP requests and responses, and makes it easy to map URLs to server-side functions. React.js is a frontend JavaScript framework for building interactive user interfaces in HTML, and communicating with a remote server.
                                
                                The combination means that JSON data flows naturally from front to back, making it fast to build on and reasonably simple to debug. Plus, you only have to know one programming language, and the JSON document structure, to understand the whole system!
                                
                                MERN is the stack of choice for today’s web developers looking to move quickly, particularly for those with React.js experience.</p>
                </div>
                <div class="w2" id="w2">
                       <h2>Digital <span>Marketing </span> Specialist</h2>
                       <p>This Digital Marketing Certification Course transforms you into a complete digital marketer with expertise in top domains like search engine optimization, social media, pay-per-click, conversion optimization, digital analytics, content, mobile, and email marketing. Become industry-ready learning the latest tools, working on real-world projects, and attending Masterclasses from the Facebook team.</p>
                       <div class="mernimg">
                        <img class="img" src="./assets/tcp (2).jpg" alt="">
    
                        </div>
                        <h1>About<span> Digital Marketing</span> Certification </h1>
                        <p>This online digital marketing certification course gives you an in-depth understanding and advanced knowledge of the eight most important digital marketing domains and includes real-world projects and virtual simulations for gaining domain experience. You’ll be exposed to 30 digital marketing tools extensive project experience and Mimic Pro simulations to make you job-ready.
    
                            After you have completed this digital marketing training program, you will receive a digital marketing certificate from Simplilearn stating that you have acquired the skill set of a Digital Marketing Specialist, validating your ability to lead digital marketing efforts in your organization.</p>
                  
                </div>
                <div class="w3" id="w3">
                    <h1> <span>UX Designers:</span>  Are You Focusing Too Heavily on <br> Creating a <span>Beautiful UI? </span> </h1>
                    <div class="mernimg">
                        <img class="img" src="./assets/tcp (1).jpg" alt="">
    
                        </div>
    
                        <p>We’re designers, which means we love to make things useful, and the ecommerce websites we build are no exception. But if we call ourselves UX designers, we need to think beyond the edge of the screen.</p>
                       <div class="mini">
                        <div class="crag1">
    <img src="./assets/Digital-Marketing.svg" alt="">
                        </div>
                        <div class="crag2">
                           <h1>BA UX/UI Design</h1>
                           <p>Gain a deep understanding of innovative visual design procedures in our B.A. programme. UE Innovation Hub in Berlin-Potsdam - experience. innovation. Study in Germany. Individual Coaching. <span> Career Development. Modern Equipment.</span>  Top Ranking. Top Career Opportunities. Small Classes. International Atmosphere</p>
                       
                       <a href="/contact">Enquery <span>Now</span></a>
                        </div>
    
                       </div>
                </div>
            </div>
            <div class="col4">
                <div class="back">
    
                    <a href="/index.html">🔙 Home</a>
                </div>
                <div class="Desi">
                    <img src="./assets/logo.png" alt="">
                    <h1>We are <span>Devloper's </span> </h1>
                </div>
                <div class="social">
                    <i class="fab fa-facebook"> <a href="https://www.facebook.com/"></a></i>
                    <i class="fab fa-twitter"><a href="https://www.twitter.com/"></a></i>
                    <i class="fab fa-instagram"><a href="https://www.instagram.com/"></a></i>
                    <i class="fab fa-pinterest"><a href="https://in.pinterest.com/testindia/pri-test/"></a></i>
                </div>
            </div>
        </div>
    </div>

    <script>
        const w = document.getElementById('w');
        const w2 = document.getElementById('w2');
        const w3 = document.getElementById('w3');

        const btn1 = document.getElementById('btn1');
        const btn3 = document.getElementById('btn3');
        const btn2 = document.getElementById('btn2');

        btn1.addEventListener('click', () => {
            if (w.style.transform = "translateY(0px)") {
                w.style.transform = "translateY(0px)";
                w2.style.transform = "translateY(-22800px)";
                w3.style.transform = "translateY(-4600px)";
            }
        });
        btn2.addEventListener('click', () => {
            if (w.style.transform = "translateY(0px)") {
                w.style.transform = "translateY(-3600px)";
                w2.style.transform = "translateY(-1300px)";
                w3.style.transform = "translateY(-4600px)";
            }
        });

        btn3.addEventListener('click', () => {
            if (w.style.transform = "translateY(0px)") {
                w.style.transform = "translateY(-4600px)";
                w2.style.transform = "translateY(-22800px)";
                w3.style.transform = "translateY(-2000px)";
            }
        });




    </script>
</body>

</html>