<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We are Devloper's @jd.viratpandey</title>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Source+Sans+Pro&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="to-top" title="back to top">↑</div>
    <!--   <video class="hero-video" muted autoplay loop  src="./assets/heromilk.mp4"></video> -->
    <section class="hero-section">
        <div class="socialicon">
            <i class="fab fa-facebook"> <a href="https://www.facebook.com/"></a></i>
            <i class="fab fa-twitter"><a href="https://www.twitter.com/"></a></i>
            <i class="fab fa-instagram"><a href="https://www.instagram.com/"></a></i>
            <i class="fab fa-pinterest"><a href="https://in.pinterest.com/testindia/pri-test/"></a></i>
        </div>
        <div class="right-side">
            <a href=""><img src="./assets/logo.png" alt=""></a>

        </div>
        <i id="ham" class="fas hm1 fa-bars"></i>
        <i id="ham1" class="fas hm1 fa-times"></i>
        <div id="menu" class="left-side">
            <ul>
                <li><a href="/"> <i class="fas b2 fa-home"></i>Home</a></li>
                <li><a href="/product"><i class="fab b2 fa-product-hunt"></i>Services</a></li>
                <li><a href="//blog"><i class="fab b2 fa-blogger"></i>Blog</a></li>
                <li><a href="/about"><i class="fas b2 fa-user-tie"></i>About</a></li>
                <li><a href="/contact"><i class="fas b2 fa-envelope"></i>Contact Us</a></li>
            </ul>

        </div>

        <div class="banner">
            <h1>We are Developer's</h1>
            <p>“If you think math is hard, try web design.” “Design is not just what it looks like and feels like. Design is how it works.” <br>Learning to write programs stretches your mind, and helps you think better, <br> creates a way of thinking about things that I think is helpful in all domains.</p>
            <a href="#">Get Services</a>
        </div>
    </section>
    <div class="product-title">Explore Our Work</div>

    <section class="product">
        <div class="product-card">
            <img src="./assets/product (4).jpg" alt="">
            <h2>Web Devlopment</h2>
            <p>Website without visitors is like a ship lost in the horizon.</p>
            <span> $230</span>
        </div>
        <div class="product-card">
            <img src="./assets/product (1).jpg" alt="">
            <h2>Digital Marketing</h2>
            <p>Mediocre marketers think in terms of campaigns. ...</p>
            <span> $130</span>
        </div>
        <div class="product-card">
            <img src="./assets/product (2).jpg" alt="">
            <h2>UI & UX</h2>
            <p>When UX doesn’t consider ALL users, shouldn’t it be known as “SOME User Experience” or… SUX?</p>
            <span> $70</span>
        </div>
        <div class="product-card">
            <img src="./assets/product (3).jpg" alt="">
            <h2>App (Andriod and IOS)</h2>
            <p>Google's Android and Apple's iOS are operating systems used primarily in mobile technology, such as smartphones and tablets. ..</p>
            <span> $330</span>
        </div>
    </section>
    <section class="deatils">
        <div class="details-img">
            <img src="./assets/2.jpg" alt="">
        </div>
        <div class="right-info">
            <h1>Best Web Development Company <br><span>JD Group</span>  In India</h1>
            <p> Kickstart your business online with India's reliable web development solution provider. We create noteworthy websites with your business and target customers in mind. When you hire Smartsalez
                , you will get a modern and clutter-free website that gains traction from your audience..</p>
        </div>

    </section>
    <section class="deatils">
        <div class="right-info">
            <h1>Advanced Online Full <br> Digital  <span>Marketing Training</span>  at JD group</h1>
            <p>Digital marketing, often known as online marketing, is marketing that uses the internet as a medium. 
                There are several strategies involved in internet marketing, 
                
                and we train all modules, including SEO, Google Ads, SMM, Email Marketing, ORM, and Google Analytics.</p>
        </div>
        <div class="details-img">
            <img src="./assets/3.jpg" alt="">

        </div>

    </section>
    <div class="product-title">Meet Our Team</div>
    <div class="box_slide">
        <div class="box_slide-c">

            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/cr (1).jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/cr (2).jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/cr (3).jpg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="product-title">Our Happy Client's</div>
    <div class="patner">
        <img src="./assets/pat.jpg" alt="">
        <img src="./assets/pat2.jpg" alt="">
        <img src="./assets/pat3.jpg" alt="">
        <img src="./assets/pat4.jpg" alt="">
    </div>

  <div class="about">
      <h2>About us</h2>
      <p>I’m a web developer. I spend my whole day, practically every day, experimenting with HTML, CSS, and JavaScript; dabbling with Python and Ruby; <br> and inhaling a wide variety of potentially useless information through a <br>
       few hundred RSS feeds. I build websites that delight and inform. I do it well.</p>
  </div>
<div class="footer">
    <h2>copyright © jd.viratpandey <span>2021-2022</span> </h2>
</div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script>
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() - 200 > 0) {
                        $('#to-top').stop().slideDown('fast'); // show the button
                    } else {
                        $('#to-top').stop().slideUp('fast'); // hide the button
                    }
                });
});

            $(function () {
                // previous detection logic

                $("#to-top").on("click", function () {
                    $("html, body").animate({
                        scrollTop: 0
                    }, 200);
                });
});

 const ham = document.getElementById('ham');
 const menu = document.getElementById('menu')
 const ham1 = document.getElementById('ham1')

 ham.addEventListener('click',()=>{
     if (menu.style.transform="translate(-400px)") {
        menu.style.transform="translate(20px)";
        ham.style.display='none';
        ham1.style.display='block'
     }
 });

 ham1.addEventListener('click',()=>{
     menu.style.transform="translate(290px)"
     ham.style.display='block';
        ham1.style.display='none'
 })
   
    </script>
</body>

</html>